// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

$chess-board-size: 50vw;

body {
  margin: 0;
  background-color: #dddddd;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

footer {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon {
  height: 1.5rem;
  width: auto;
  color: white;
  margin: 5px;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.cursor-pointer {
  cursor: pointer;
}

.large-font {
  font-size: 2.5rem;
}

.medium-font {
  font-size: 1.5rem;
  margin: 5px;
}

.small-font {
  font-size: 1rem;
}

.smallest-font {
  font-size: 0.75rem;
}

#content-container {
  display: flex;
}

#chess-board {
  margin: auto;
  width: $chess-board-size;
  height: $chess-board-size;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  box-shadow: 5px 5px 15px #292524;
}

.black-tile {
  background-color: black;
}

.white-tile {
  background-color: rgb(231, 231, 231);
}

#control-buttons-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5px;

  div {
    display: flex;

    button {
      flex: 1;
    }
  }
}

@media (max-width: 600px) {
  $content-width: 95vw;
}
